<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EATLunch Application Form Demo</title>
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>EATLunch Application</h1>
<a href="/svc/eat/v1/application" target="_application_target">View Raw Application</a>
<section id="applicant">
    <h2>Applicant</h2>
    {% set applicant_form = ApplicantForm(csrf_enabled=False, **(application.applicant.dict)) %}
    <form id="applicant_form" method="POST" action="/svc/eat/v1/application/applicant" target="_applicant_target">
        <div>{{ applicant_form.first_name.label }}: {{ applicant_form.first_name() }}</div>
        <div>{{ applicant_form.middle_initial.label }}: {{ applicant_form.middle_initial() }}</div>
        <div>{{ applicant_form.last_name.label }}: {{ applicant_form.last_name() }}</div>
        <div>{{ applicant_form.ssn.label }}: {{ applicant_form.ssn() }}</div>
        <div>{{ applicant_form.address_1.label }}: {{ applicant_form.address_1() }}</div>
        <div>{{ applicant_form.address_2.label }}: {{ applicant_form.address_2() }}</div>
        <div>{{ applicant_form.apt.label }}: {{ applicant_form.apt() }}</div>
        <div>{{ applicant_form.city.label }}: {{ applicant_form.city() }}</div>
        <div>{{ applicant_form.state.label }}: {{ applicant_form.state() }}</div>
        <div>{{ applicant_form.postal.label }}: {{ applicant_form.postal() }}</div>
        <button type="submit" hidden>Submit</button>
    </form>
</section>
<section id="applicant_incomes">
    <h2>Applicant Income</h2>
    {% if application.applicant %}
        <ol id="appliant_incomes_list" class="incomes_list">
        {% for income in application.applicant.incomes %}
            <div id="{{ income._id }}" class="income_item row">
                <span class="col-1">Source: </span><span class="col-2">{{ income.source|capitalize }}</span>
                <span class="col-1">Amount: </span><span class="col-2">${{ income.amount }}</span>
                <span class="col-1">Frequency: </span><span class="col-2">{{ income.frequency|capitalize }}</span>
                <span class="col-3"><a href="/svc/eat/v1/application/applicant/incomes/{{ income._id }}" target="_applicant_income_delete">Delete this income</a></span>
                <br>
            </div>
        {% endfor %}
        </ol>
        <div>
            <h3>Add a new income source</h3>
            {% set income_form=IncomeForm(csrf_enabled=False) %}
            <form method="POST" id="applicant_incomes_form" class="incomes_form" action="/svc/eat/v1/application/applicant/incomes" target="_applicant_income_target">
                <div>{{ income_form.source.label }}: {{ income_form.source() }}</div>
                <div>{{ income_form.amount.label }}: ${{ income_form.amount() }}</div>
                <div>{{ income_form.frequency.label }}: {{ income_form.frequency() }}</div>
                <button type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
</section>
<hr>
<section id="children">
    <h2>Children</h2>
    {% for child in application.children %}
        <div>
            <h3>Child #{{ loop.index }}</h3>
            {% set child_form = ChildForm(csrf_enabled=False, **(child.dict)) %}
            <div>{{ child_form.first_name.label }}: {{ child_form.first_name() }}</div>
            <div>{{ child_form.middle_initial.label }}: {{ child_form.middle_initial() }}</div>
            <div>{{ child_form.last_name.label }}: {{ child_form.last_name() }}</div>
            <div>{{ child_form.school_city.label }}: {{ child_form.school_city() }}</div>
            <div>{{ child_form.school_state.label }}: {{ child_form.school_state() }}</div>
            <div>{{ child_form.school_postal.label }}: {{ child_form.school_postal() }}</div>
            <div>{{ child_form.school_name.label }}: {{ child_form.school_name() }}</div>
            <div><a href="/svc/eat/v1/application/children/{{ child._id }}" target="_child_delete">Delete this child</a>
            </div>
            {% for income in child.incomes %}
                {% set income_form = IncomeForm(csrf_enabled=False, **(income.dict)) %}
                <div>
                    <h4>Income #{{ loop.index }}:</h4>
                    <form method="POST"
                          action="/svc/eat/v1/application/children/{{ child._id }}/incomes/{{ income._id }}">
                        <div>{{ income_form.source.label }}: {{ income_form.source() }}</div>
                        <div>{{ income_form.amount.label }}: ${{ income_form.amount() }}</div>
                        <div>{{ income_form.frequency.label }}: {{ income_form.frequency() }}</div>
                        <div><a href="/svc/eat/v1/application/children/{{ child._id }}/incomes/{{ income._id }}"
                                target="_child_income_delete">Delete this income</a></div>
                    </form>
                </div>

            {% endfor %}
            {% set income_form = IncomeForm(csrf_enabled=False) %}
            <div>
                <h4>Add Income for this child</h4>
                <form method="POST" action="/svc/eat/v1/application/children/{{ child._id }}/incomes">
                    <div>{{ income_form.source.label }}: {{ income_form.source() }}</div>
                    <div>{{ income_form.amount.label }}: ${{ income_form.amount() }}</div>
                    <div>{{ income_form.frequency.label }}: {{ income_form.frequency() }}</div>
                    <button type="submit">Submit</button>
                </form>
            </div>

            {% set programs_form = ProgramsForm(csrf_enabled=False, **( child.programs_dict) ) %}
            <div>
                <h4>Please indicate which programs this child participates in</h4>
                <form method="POST" action="/svc/eat/v1/application/children/{{ child._id }}/programs">
                    <div>{{ programs_form.SNAP.label }}: {{ programs_form.SNAP() }}</div>
                    <div>{{ programs_form.TANF.label }}: {{ programs_form.TANF() }}</div>
                    <div>{{ programs_form.FDPIR.label }}: {{ programs_form.FDPIR() }}</div>
                    <div>{{ programs_form.FOSTER.label }}: {{ programs_form.FOSTER() }}</div>
                    <div>{{ programs_form.MIGRANT.label }}: {{ programs_form.MIGRANT() }}</div>
                    <div>{{ programs_form.HOMELESS.label }}: {{ programs_form.HOMELESS() }}</div>
                    <div>{{ programs_form.RUNAWAY.label }}: {{ programs_form.RUNAWAY() }}</div>
                    <button type="submit">Submit</button>
                </form>
            </div>

            {% set ethnicities_form = EthnicityForm(csrf_enabled=False, **( child.ethnicities_dict ) ) %}
            <div>
                <h4>Optionally indicate this child's race/ethnicity</h4>
                <form method="POST" action="/svc/eat/v1/application/children/{{ child._id }}/ethnicities">
                    <div>{{ ethnicities_form.hispanic_or_latino.label }}: {{ ethnicities_form.hispanic_or_latino() }}</div>
                    <div>{{ ethnicities_form.native_american.label }}: {{ ethnicities_form.native_american() }}</div>
                    <div>{{ ethnicities_form.asian.label }}: {{ ethnicities_form.asian() }}</div>
                    <div>{{ ethnicities_form.black_or_african_american.label }}: {{ ethnicities_form.black_or_african_american() }}</div>
                    <div>{{ ethnicities_form.pacific_islander.label }}: {{ ethnicities_form.pacific_islander() }}</div>
                    <div>{{ ethnicities_form.white.label }}: {{ ethnicities_form.white() }}</div>
                    <div>{{ ethnicities_form.decline.label }}: {{ ethnicities_form.decline() }}</div>
                    <button type="submit">Submit</button>
                </form>
            </div>

        </div>
    {% endfor %}
    <div>
        <h3>Add Child</h3>
        {% set child_form = ChildForm(csrf_enabled=False) %}
        <form method="POST" action="/svc/eat/v1/application/children">
            <div>{{ child_form.first_name.label }}: {{ child_form.first_name() }}</div>
            <div>{{ child_form.middle_initial.label }}: {{ child_form.middle_initial() }}</div>
            <div>{{ child_form.last_name.label }}: {{ child_form.last_name() }}</div>
            <div>{{ child_form.school_city.label }}: {{ child_form.school_city() }}</div>
            <div>{{ child_form.school_state.label }}: {{ child_form.school_state() }}</div>
            <div>{{ child_form.school_postal.label }}: {{ child_form.school_postal() }}</div>
            <div>{{ child_form.school_name.label }}: {{ child_form.school_name() }}</div>
            <button type="submit">Submit</button>
        </form>
    </div>

    </form>
</section>
<hr>
<section id="persons">
    <h2>Other Household Members</h2>
    {% for person in application.persons %}
        <div>
            <h3>Household Member #{{ loop.index }}</h3>
            {% set person_form = PersonForm(csrf_enabled=False, **(person.dict)) %}
            <div>{{ person_form.first_name.label }}: {{ person_form.first_name() }}</div>
            <div>{{ person_form.middle_initial.label }}: {{ person_form.middle_initial() }}</div>
            <div>{{ person_form.last_name.label }}: {{ person_form.last_name() }}</div>
            <div><a href="/svc/eat/v1/application/persons/{{ person._id }}" target="_person_delete">Delete this
                person</a>
            </div>
            {% for income in person.incomes %}
                {% set income_form = IncomeForm(csrf_enabled=False, **(income.dict)) %}
                <div>
                    <h4>Income #{{ loop.index }}:</h4>
                    <form method="POST"
                          action="/svc/eat/v1/application/persons/{{ person._id }}/incomes/{{ income._id }}">
                        <div>{{ income_form.source.label }}: {{ income_form.source() }}</div>
                        <div>{{ income_form.amount.label }}: ${{ income_form.amount() }}</div>
                        <div>{{ income_form.frequency.label }}: {{ income_form.frequency() }}</div>
                        <div><a href="/svc/eat/v1/application/persons/{{ person._id }}/incomes/{{ income._id }}"
                                target="_person_income_delete">Delete this income</a></div>
                    </form>
                </div>
            {% endfor %}
            {% set income_form = IncomeForm(csrf_enabled=False) %}
            <div>
                <h4>Add Income for this person</h4>
                <form method="POST" action="/svc/eat/v1/application/persons/{{ person._id }}/incomes">
                    <div>{{ income_form.source.label }}: {{ income_form.source() }}</div>
                    <div>{{ income_form.amount.label }}: ${{ income_form.amount() }}</div>
                    <div>{{ income_form.frequency.label }}: {{ income_form.frequency() }}</div>
                    <button type="submit">Submit</button>
                </form>
            </div>

            {% set ethnicities_form = EthnicityForm(csrf_enabled=False, **( person.ethnicities_dict ) ) %}
            <div>
                <h4>Optionally indicate this person's race/ethnicity</h4>
                <form method="POST" action="/svc/eat/v1/application/persons/{{ person._id }}/ethnicities">
                    <div>{{ ethnicities_form.hispanic_or_latino.label }}: {{ ethnicities_form.hispanic_or_latino() }}</div>
                    <div>{{ ethnicities_form.native_american.label }}: {{ ethnicities_form.native_american() }}</div>
                    <div>{{ ethnicities_form.asian.label }}: {{ ethnicities_form.asian() }}</div>
                    <div>{{ ethnicities_form.black_or_african_american.label }}: {{ ethnicities_form.black_or_african_american() }}</div>
                    <div>{{ ethnicities_form.pacific_islander.label }}: {{ ethnicities_form.pacific_islander() }}</div>
                    <div>{{ ethnicities_form.white.label }}: {{ ethnicities_form.white() }}</div>
                    <div>{{ ethnicities_form.decline.label }}: {{ ethnicities_form.decline() }}</div>
                    <button type="submit">Submit</button>
                </form>
            </div>

        </div>
    {% endfor %}
    <div>
        <h3>Add a Household Member</h3>
        {% set person_form = PersonForm(csrf_enabled=False) %}
        <form method="POST" action="/svc/eat/v1/application/children">
            <div>{{ person_form.first_name.label }}: {{ person_form.first_name() }}</div>
            <div>{{ person_form.middle_initial.label }}: {{ person_form.middle_initial() }}</div>
            <div>{{ person_form.last_name.label }}: {{ person_form.last_name() }}</div>
            <button type="submit">Submit</button>
        </form>
    </div>

    </form>
</section>
<script type="application/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="/static/js/application.js"></script>
</body>
</html>