<!DOCTYPE html>
<html lang="en">
<head>
	{% import "macros/forms.html" as form_macros %}
    <meta charset="UTF-8">
    <meta initial scale="1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>EAT</title>
</head>
	<body>
		<body>
		<nav class="navbar navbar-default">
				<section class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">E.A.T.</a>
					</div>
						<ul class="nav navbar-default">
							<li class="nav navbar-right">
								<a href="languages">Languages</a>
							</li>
						<li class="nav navbar-default navbar-right">
							<a href="faq">FAQ</a>
						</li>
						<li class="nav navbar-default navbar-right">
							<a href="signin">Sign In</a>
						</li>
					</ul>
					</div>
				</section>
			</nav>
			<section class="container-fluid">
				<div class="row jumbotron" id="inner-container">
					<div class="row">
						Free and Reduced Meal Application FAQs
						Tips
- Use your student’s name as it appears on their Birth Certificate
- List all Other Household Members, even people living in your household that have no income.
- Signature is required
- A Social Security number is NOT required
- Foster children may be included in the household application as part of the household size.

Do I need to fill out an application for each child?
No. Complete one application for all students in your household. We cannot approve an application that is not complete, so be sure to fill out all required fields of information. 

Who can receive free meals?
There are several ways that your children may be eligible for meals free of charge: Your child can get free meals if your household income is within the free limits on the Federal Income Guidelines. Another way is through “categorically eligibility”. If one member of your household is currently receiving assistance (benefits) from one of the following Programs: SNAP, FDPIR, TANF, all children in the household are eligible for free meals. (Remember, a household is defined as “…a group of related or non-related individuals, who are not residents of an institution or boarding house, but who are living as one economic unit.” Foster children are categorically eligible for free meal benefits. An application is not needed yet there does need to be documentation of status by a state or local entityfamiliar with the child's status. However, a change in the regulations states that Foster children may be included in the household application as part of the household size.

Have the eligibility guidelines changed from last school year?
Yes the eligibility guidelines have changed from last year and you do need to fill out a new application if you feel you still qualify for the meal benefits.

Can homeless, runaway and migrant children get free meals?
Yes. Other categorically eligible children are those who meet the definition of “migrant, homeless, or runaway”, or who are enrolled in a federally-funded Head Start Center. If you are a homeless, runaway or migrant child, please contact the Food & Nutrition office for assistance in completing an application. If you have a homeless, migrant or runaway child, contact our office if you need assistance in completing an application.
[We usually receive documentation for these children from official sources, but if you know of any, please contact your Food Services Office.]

I got a letter saying my children are approved for free meals for this school year. Should I fill out an application?
All applications MUST be renewed every new school year. Please carefully read the letter you received and follow the instructions. Call the Food & Nutrition Dept. if you have questions. If you received a letter for the current school year, then no, you do not have to fill out a new application. (Just make sure that all of your children are listed on the letter as being eligible to receive free meals.)

Who can receive Reduced Price meals?
Your child can receive low cost meals if your household income is within the reduced price limits on the Eligibility Guidelines. Please fill out an application and we contact you to let you know.

I receive WIC (Women, Infants and Children) benefits. Can my child get free meals?
Children in households participating in WIC may be eligible for reduced price or free meals. Please fill out an application.

Will the information I give be checked?
Yes, we may ask you to send written proof of the information you give.

If I don't qualify now, may I apply later?
You may apply at any time during the school year.

What if I disagree with the school's decision about my application?
You should talk to a school official. You also may ask for a hearing by calling or writing to Food & Nutrition Department or School District Business Department.

May I apply if someone in my household is not a U.S. citizen?
You OR your children do not have to be a U.S. citizen to qualify your child to receive reduced price or free meals.

Who should I include as members of my household?
Include yourself, all children who live with you and all other people living in your household, related or not (such as grandparents, other relatives, or friends).

What if my income is not always the same?
Please contact the Food & Nutrition Department for further instructions. Normally you will list the amount that you normally receive BEFORE deductions. For example, if you normally receive $1,000 each month, but you missed some work last month and only got $900, put down that you get $1,000 per month. If you are normally paid for overtime,include it.

Are applications available in other languages?
Applications are available in English, Spanish, Chinese, Arabic, French, Creole, Korean and Portugese (see “Languages” oprion in menu). 

Why is it necessary to use the same name as it appears on the Birth Certificate?
Since the School District uses the birth date and name information from the Birth Certificate for all school records. The only way the application can be validated is by using the same information. Clearly, nicknames and family abbreviations will slow down the application process.

Why do you list All Other Household Members?
The consideration for approval of an application is based income and the number of household members. Therefore, it is required to list all members of the household.

Why do I need to fill out Social Security Number and sign the application?
Social Security number is NOT required but digital signature is and it is very important that these sections be completed. If this information is not completed, the application will be sent back to the applicant. However, a change in requirements now only requires the last four digits of the social security number for the adult signing the application needs to be listed rather than the entire social security number.

If I have more than one student going to school in the School District do I need to fill out more than one application?
No, only complete ONE APPLICATION PER FAMILY.

If I have a student living at home that goes to a private school, charter school, or Pre-K school, should I include them on the application?
Yes, include them as Other Household Members.

What is Direct Certification?
Under direct certification, school districts use information from State Social Service Department to certify children to receive free meals. To qualify, the children's families must receive assistance from Food Stamps, CalWORKS, Food Distribution Program on Indian Reservations, or Kin-GAP Programs.

How do you know if your Student is Direct Certified?
Direct Certification Letters are sent to the homes of pre-approved students. 

If one student is Direct Certified, in a household, are the remaining students also Direct Certified?
Yes.
					</div>
				</div>
			</section>
			<footer class="footer col-md-8 col-md-offset-2">
				<div class="nav nav-justified">
				<li role="presentation">
					<a class="btn-large text-center" href="#">About</a>
				</li>
				<li role="presentation">
					<a class="btn-large text-center" href="#">Terms</a>
				</li>
				<li role="presentation">
					<a class="btn-large text-center" href="#">Contact</a>
				</li>
			</footer>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}">
		</script>	
		<script type="text/javascript">
			$('.cancel').click(function() {
				$("input").removeAttr('required');
				window.location='/';
			});
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	</body>
</html>
