<!DOCTYPE html>
<html lang="en">
<head>
	{% import "macros/forms.html" as form_macros %}
    <meta charset="UTF-8">
    <meta initial scale="1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>EAT {# title #}</title>
</head>
	<body>
		<section class="row">
			<nav>
				{% for item in nav %}
					<li "">{{ item }}</li>
				{% endfor %}
					<a class="" href="Languages">Languages</a>
					<a class="" href="faq">FAQ</a></li>
					<a class="" href="signin">Sign In</a>
			</nav>

			<footer>
				<!-- {% for item in footer %} -->
				<!-- {% endfor %} -->
					<a class="nav-menu-items" href="#">About</a>
					<a class="nav-menu-items" href="#">Terms</a>
					<a class="nav-menu-items" href="#">Contact</a>
			</footer>
		</section>
	</body>
</html>
