<!DOCTYPE html>
{% import "macros/forms.html" as form_macros %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body> 
        <div class="nav navbar-static-top" id="nav">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">EAT<strong>LUNCH</strong></a>
        </div>
            <ul class="nav">
            <li class="nav navbar-right">
                <a href="signin" class="header-nav">Sign In</a>
            </li>
            <li class="nav navbar-right">
                <a href="faq" class="header-nav">FAQ</a>
            </li>
            <li class="navbar-right">
                <a class="header-nav" href="languages">Languages</a>
            </li>
        </ul>
    </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 main">
                    <form class="form-signin" role="form" method="POST">
                        <h2>Please Sign In</h2>
                    {{ form_macros.as_tabular_form(signin_form) }}
                </div>
                <div class="col-xs-5 main">
                    <a href="#" class="btn btn-social" id="btn-facebook">Log in with Facebook</a>
                    <a href="#" class="btn btn-social" id="btn-google"> Log in with Google+</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 main">
                    <a href="/reset">Forgot your password?</a>
                        <input id="show-password" type="checkbox">
                        <label for="show-password">
                            Show password
                        </label>
                        <button class="btn btn-md" type="submit" onclick="application">
                            Sign In
                        </button>
                    </form>
                </div>
            </div>

            <footer class="footer navbar-fixed-bottom nav-justified nav">
                <li role="presentation">
                    <a class="text-center" href="#">About</a>
                </li>
                <li role="presentation" id="footer-mid">
                    <a class="text-center" href="#">Terms</a>
                </li>
                <li role="presentation">
                    <a class="text-center" href="#">Contact</a>
                </li>
            </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}">
        </script>   
        <script type="text/javascript">
            $('.cancel').click(function() {
                $("input").removeAttr('required');
                window.location='/';
            });
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        
    </body>
</html>
