<!DOCTYPE html>
{% import "macros/forms.html" as form_macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
<div id="basic-form">
    <form role="form" action="{{ url_for('signin') }}" method="POST">
        {{ form_macros.as_tabular_form(signin_form) }}
{#        <p><a class="signup_lnk" href="/reset">Forgot your password?</a></p> #}
        <p>
            <button type="submit" class="signin-submit primary_btn pull-right">Sign in</button>
        </p>
    </form>
    {# <p class="register">Not a registered user yet? <a class="signup_lnk"
                                                         href="{{ url_for('signup', redir_url=request.args.get('redir_url')) }}">Sign
    up now!</a></p>
    #}
</div>
</body>
</html>