
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

section{
	height: 70vh;
	background: #f1f1f1;
	display: block;
	background-color: #f1f1f1;
	margin: 0 2.071em;
	position: relative;
	padding: 1.25em 2em 2em 2em;
	border: 1px solid black;
	float: none;
	border-radius: 0.571em;
	overflow: scroll;
}

body {
	font-family: "Helvetica Neue", Arial, Sans-Serif;
	color: #000000;
	display: block;
	margin: 0;
	font-size: 87.5%;
}

p, form, label, input, h3 {
	font-size: 1.5rem;
}

form {
	position: relative;
}

.inline{
	display: inline;
}

input{
	width: 16em;
}

.works {
	height: 4em;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	margin-top: 4em;
}

.breadcrumb{
	margin:0 1.071em;
	background-color: transparent;
	font-size: 1.286em;
}

/* Buttons */

.btn-large {
	width: 29.564em;
    height: 2.529em;
	border-radius: 3.143em;
	font-size: 2.143rem;
	margin-right: auto;
	margin-left: auto;
	padding: 0.429em 0.857em;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: transparent;
}

.btn-md {
	width: 18.436rem;
	height: 4.286rem;
	border-radius: 3.143rem;
	font-size: 1.786rem;
	border: transparent;
	padding: 0.429em 0.857em;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    position: relative;
}
.btn-md-right {
	float: right;
}

.btn-white {
	background-color: #ffffff;
	border: solid 0.071em #9b9b9b;
	color: #000000;
}

.btn-white:hover {
	background-color: #dcdcdc;
	border: solid 0.071em #9b9b9b;
	color: #252525;
	text-decoration: none;
}

.btn-green {
	background-color: #7ddc1f;
	color: #fff;
}

.btn-green:hover {
	background-color: #67bd00;
	text-decoration: none;
	color: #fff;
}

.btn-gray{
	background-color: #515151;
	position: relative;
	color: #ffffff;
}

.btn-gray:hover{
	background-color: #3c3c3c;
	color: #ffffff;
	text-decoration: none;
}

#index_buttons a {
	margin-right: 2em;
}

#continue, #back {
	bottom: 3em;
	position: fixed;
	z-index: 10000;
}

#continue{
	right: 2em;
}

#back {
	right: 15em;
}


/* Headers, Footers */

.navbar-header{
    margin-left: 1.071em;
    float: left;
}
.nav>li>a:hover, a:hover {
	background-color: transparent;
	color: #FFFFFF;
}

.header-nav {
	color: #000000;
	font-size: 1.429em;
}

.navbar-right {
	margin-right: 2em;
    margin-bottom: 0;
    list-style: none;
    padding-top: 0.5em;
    vertical-align: middle;
    float: right!important;
    position: relative;
    display: block;
    font-weight: 700; 
}

.navbar-brand {
	float: left;
	height: 50px;
	font-size: 2.625em;
	line-height: 20px;
	color: #000000;
	vertical-align: middle;
	padding: 15px 15px;
	font-family: HelveticaNeue-Thin;
}

#nav {
	background-color: #1376E2;
    min-height: 3.571em;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box; 
    clear: both;
}

.footer{
	font-size: 1.429em;
	
	background-color: #515151;
	display: block;
}

#footer-mid{
	border-left: 0.25em solid #ffffff;
	border-right: 0.25em solid #ffffff;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
}

#footer-mid a {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.footer>li>a{
	background-color: transparent;
	color: #fff;
}
.footer>li>a:hover {
	color: #1376E2;
}

/* Main text */
.hero, .mainCopy {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 67.857em;
}

.hero {
	background-image: url('stock-photo-african-girl-at-school-holding-green-apple-fruit-283324019.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #ffffff;
}

.hero p {
	font-size: 1.8em;
}

.req{
	color: #FF0000;
}

#fasttrack{
	width: 100%;
    height: 3em;
    background-color: transparent;
    padding: 1em;
    display: inline-block;
    vertical-align: middle;
    border: none;
}
.numbers{
    height: 112px;
    font-size: 92px;
    border-radius: 112px;
    width: 112px;
    vertical-align: middle;
    margin: 0  auto;
    line-height: 112px;
    font-family: HelveticaNeue-Thin;
}

.numbers-blue{
	color: #0073e5;
	border: 1px solid #0073e5;
}

.hero-text{
	top: 60%;
	position: relative;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.text-center{
	text-align: center;
}

/* Application */

/*.main{ 
	height: 80vh;
	background: #f1f1f1;
	display: block;
	background-color: #f1f1f1;
	margin: 0 2.071em;
	position: relative;
	padding: 1.25em 2em 2em 2em;
	border: 1px solid black;
	float: none;
	border-radius: 0.571em;
	overflow: scroll;
}*/

#middle_initial{
	width: 2em;
}

#address_1{
	width: 44em;
}

.form-inline {
	padding-bottom: 0.5em;
}


/* Glyphs */

.approved {
	color: #7ddc1f;
}
.denied {
	color: #ea0000;
}

.checkbox {
	width:inherit;
}

.fa{
	padding: 0 1em;
}
